{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<style>

</style>
<div class="mt-4">
    <h2>Inscription</h2>
</div>
<div class="m-4 form" >
    {{form(formInscription )}}
</div>

{% endblock %}